@charset "UTF-8";
/*
$gradient13: #4d4700; 
$gradient12: #706700;
$gradient11: #948800;
$gradient9: #b8a900;
$gradient8: #dbca00;
$gradient7: $main-color;
$gradient6: #ffee24;
$gradient5: #fff147;
$gradient4: #fff36b;
$gradient3: #fff68f;
$gradient2: #fff9b3;
$gradient1: #fffcd6;
*/
/*dal più scuro al più chiaro*/
.pulsanti-common, .pulsanteDisabilitato, .pulsanti-piccoli, .pulsanti-grandi, .round-button {
  display: block;
  border: 3px solid #f5f5f5;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  float: left; }

.pulsanteDisabilitato {
  color: #6F7279 !important;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: 3px solid #6F7279 !important;
  color: #6F7279 !important;
  margin-left: 5px; }

.pulsanti-piccoli {
  width: 5vw;
  height: 5vw;
  line-height: 5vw;
  font-size: 3vw; }

.pulsanti-grandi {
  width: 45vh;
  height: 45vh;
  line-height: 45vh;
  font-size: 10vw;
  margin: 0 5vw; }

.pulsanti-grandi:hover {
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFEB00, 0 0 35px #FFEB00, 0 0 40px #FFEB00, 0 0 50px #FFEB00, 0 0 75px #FFEB00;
  background: none;
  color: #FFEB00; }

.round-button {
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin-left: 10px; }

.pulsantini-after-css, .archivioCanzoni::after, .nuovaCanzone::after, .arrowDown::after, .salva::after, .aggiorna::after, .play::after, .video::after {
  font-family: FontAwesome;
  font-weight: normal; }

.archivioCanzoni::after {
  content: "\f001"; }

.nuovaCanzone::after {
  content: "\f036"; }

.arrowDown::after {
  content: "\f063"; }

.arrowDown {
  animation-iteration-count: infinite; }

.pulsanti-quadrati {
  width: 5vw;
  height: 100%;
  line-height: 5vw;
  color: white;
  font-size: 3vw; }
  .pulsanti-quadrati:hover {
    background-color: #1d1d1d;
    color: #FFEB00; }

.salva::after {
  content: "\f0c7"; }

.aggiorna::after {
  content: "\f021"; }

.play::after {
  content: "\f04b"; }

.video::after {
  content: "\f03d"; }

.play, .salva, .video {
  display: flex;
  justify-content: center; }
