@charset "UTF-8";
/*
$gradient13: #4d4700; 
$gradient12: #706700;
$gradient11: #948800;
$gradient9: #b8a900;
$gradient8: #dbca00;
$gradient7: $main-color;
$gradient6: #ffee24;
$gradient5: #fff147;
$gradient4: #fff36b;
$gradient3: #fff68f;
$gradient2: #fff9b3;
$gradient1: #fffcd6;
*/
/*dal più scuro al più chiaro*/
* {
  box-sizing: border-box; }

html, body {
  height: 100vh; }

body {
  background-color: #FFEB00;
  display: flex;
  align-items: center;
  margin: 0;
  background-size: cover; }

#main {
  width: 100vw;
  height: 100vh; }
  #main section {
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 0;
    max-width: none;
    flex-direction: column;
    align-items: center; }

#big-logo {
  background-color: #FFEB00;
  justify-content: center; }

#pulsantoni {
  background-color: #1d1d1d; }

#top-bar {
  background-color: #FFEB00;
  width: 100%;
  display: flex;
  min-height: 50px;
  height: 5vw;
  padding: 15px 0;
  margin-bottom: 18vh; }

.midiSequencerTab {
  margin-bottom: 5vh !important;
  padding: 0 !important;
  position: fixed; }

.spacer {
  visibility: hidden;
  flex-grow: 1; }

#small-logo {
  height: 100%;
  float: left;
  margin-left: 20px; }
  #small-logo img {
    height: 100%; }

#credits {
  font-family: Montserrat;
  text-transform: uppercase;
  color: white;
  padding-right: 20px;
  width: 20vh; }

#pulsanti-grandi {
  background-color: #1d1d1d;
  cursor: pointer; }

/*STILI MIDI SEQUENCER TAB*/
.no-gradient {
  background: #1d1d1d; }

#type-in-song {
  height: 100%; }

.inputSong {
  border: none;
  color: #1d1d1d;
  width: 60vw;
  background: white; }

input[type=text] {
  font-family: courier;
  color: #1d1d1d;
  height: 100%;
  padding: 20px; }

#sequencer {
  display: flex;
  flex-direction: row;
  padding-top: 15vh; }
  #sequencer .colonna {
    flex-direction: column; }

#colonnaLabel {
  float: left;
  width: 100px;
  color: #1d1d1d;
  font-weight: bold; }

.colonnaLabel > div {
  height: 32px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center; }

.colonna > div {
  display: block;
  width: 32px;
  height: 32px;
  margin: 5px 2px;
  border-radius: 5px; }

.unchecked {
  background-color: #1d1d1d !important; }

.checked {
  border: solid 1px #828282; }

.nota1 {
  border: solid 1px #ffec12;
  background-color: #ffec12; }

.nota2 {
  border: solid 1px #ffee24;
  background-color: #ffee24; }

.nota3 {
  border: solid 1px #ffef36;
  background-color: #ffef36; }

.nota4 {
  border: solid 1px #fff147;
  background-color: #fff147; }

.nota5 {
  border: solid 1px #fff259;
  background-color: #fff259; }

.nota6 {
  border: solid 1px #fff36b;
  background-color: #fff36b; }

.nota7 {
  border: solid 1px #fff57d;
  background-color: #fff57d; }

.nota8 {
  border: solid 1px #fff68f;
  background-color: #fff68f; }

.nota9 {
  border: solid 1px #fff8a1;
  background-color: #fff8a1; }

.nota10 {
  border: solid 1px #fff9b3;
  background-color: #fff9b3; }

.nota11 {
  border: solid 1px #fffac4;
  background-color: #fffac4; }

.nota12 {
  border: solid 1px #fffcd6;
  background-color: #fffcd6; }

.nota13 {
  border: solid 1px #fffde8;
  background-color: #fffde8; }

#songList {
  width: 100%;
  height: 100%; }

.pulsanteCanzone {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid white;
  border-radius: 5px;
  width: 40%;
  min-width: 350px;
  height: 50px;
  margin: 35px 30% !important;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-basis: 100%; }

#titolo {
  display: flex;
  justify-content: center;
  color: yellow;
  font-size: 4vw;
  text-align: center;
  margin-top: 50px; }
  #titolo p {
    display: block;
    clear: both;
    overflow: hidden;
    margin: 0;
    padding: 0; }
  #titolo #titolo p:nth-child(2) {
    background: #fff;
    letter-spacing: .12em;
    text-transform: uppercase;
    font-size: 60%; }

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both; }
