@charset "UTF-8";
/*
$gradient13: #4d4700; 
$gradient12: #706700;
$gradient11: #948800;
$gradient9: #b8a900;
$gradient8: #dbca00;
$gradient7: $main-color;
$gradient6: #ffee24;
$gradient5: #fff147;
$gradient4: #fff36b;
$gradient3: #fff68f;
$gradient2: #fff9b3;
$gradient1: #fffcd6;
*/
/*dal più scuro al più chiaro*/
