/*
Error: Invalid CSS after "background-color": expected selector or at-rule, was ": #4d4d4d; // O..."
        on line 10 of C:\Users\.root\Documents\midiSequencer_VS\midiSequencerApp\www\scss\sass.scss

5:     margin: 0;
6:     background-size: cover;
7: }
8: 
9: @import "compass"
10: background-color: #4d4d4d; // Old browsers
11: @include filter-gradient (#4d4d4d, #1d1d1d, horizontal); // IE6-9 fallback on horizontal gradient
12: @include background-image(radial-gradient(center, ellipse cover,  #4d4d4d 0%,#1d1d1d 100%));
13: 
14: 
15: 

Backtrace:
C:\Users\.root\Documents\midiSequencer_VS\midiSequencerApp\www\scss\sass.scss:10
C:/Users/.root/AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.3/lib/sass/scss/parser.rb:1165:in `expected'
C:/Users/.root/AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.3/lib/sass/scss/parser.rb:1099:in `expected'
C:/Users/.root/AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.3/lib/sass/scss/parser.rb:43:in `parse'
C:/Users/.root/AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.3/lib/sass/engine.rb:393:in `_to_tree'
C:/Users/.root/AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.3/lib/sass/engine.rb:368:in `_render_with_sourcemap'
C:/Users/.root/AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.3/lib/sass/engine.rb:285:in `render_with_sourcemap'
C:/Users/.root/AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.3/lib/sass/exec/sass_scss.rb:375:in `run'
C:/Users/.root/AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.3/lib/sass/exec/sass_scss.rb:62:in `process_result'
C:/Users/.root/AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.3/lib/sass/exec/base.rb:40:in `parse'
C:/Users/.root/AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.3/lib/sass/exec/base.rb:19:in `parse!'
C:/Users/.root/AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.3/bin/sass:13:in `<top (required)>'
C:/Users/.root/AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/bin/sass:19:in `load'
C:/Users/.root/AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"background-color\": expected selector or at-rule, was \": #4d4d4d; // O...\"\A         on line 10 of C:\Users\.root\Documents\midiSequencer_VS\midiSequencerApp\www\scss\sass.scss\A \A 5:     margin: 0;\A 6:     background-size: cover;\A 7: }\A 8: \A 9: @import \"compass\"\A 10: background-color: #4d4d4d; // Old browsers\A 11: @include filter-gradient (#4d4d4d, #1d1d1d, horizontal); // IE6-9 fallback on horizontal gradient\A 12: @include background-image(radial-gradient(center, ellipse cover,  #4d4d4d 0%,#1d1d1d 100%));\A 13: \A 14: \A 15: "; }
